.tile {
	display: inline-flex;
	/* background-image: url('/tiles/grass.png'); */
	background-color: #40803c;
}

.rock1 {
	background-image: url('/tiles/Rock/rock1.png');
}

.tree1 {
	background-image: url('/tiles/Trees/green-tree-big.png');
}

.path-hor {
	background-image: url('/tiles/Paths/brown-path-hori.png');
}

.path-ver {
	background-image: url('/tiles/Paths/brown-path-vert.png');
}

.tree2 {
	background-image: url('/tiles/Trees/green-tree-thin.png');
}

.chest {
	background-image: url('/tiles/Chest/chest.png');
}

.grass1 {
	background-image: url('/tiles/Grass/grass1.png');
}

.grass2 {
	background-image: url('/tiles/Grass/grass2.png');
}

.grass3 {
	background-image: url('/tiles/Grass/grass3.png');
}

.red-house-bl {
	background-image: url('/tiles/RedHouse/whole/RedHouseP1.png');
}

.red-house-br {
	background-image: url('/tiles/RedHouse/whole/RedHouseP2.png');
}

.red-house-tr {
	background-image: url('/tiles/RedHouse/whole/RedHouseP3.png');
}

.red-house-tl {
	background-image: url('/tiles/RedHouse/whole/RedHouseP4.png');
}

.orange-shop-left {
	background-image: url('/tiles/OrangeShop/orange-shop-left.png');
}

.orange-shop-right {
	background-image: url('/tiles/OrangeShop/orange-shop-right.png');
}

.road {
	background-image: url('/tiles/Roads/single-grey-road-fulltile.png');
}
